{% extends 'AhoraMadridMicrocreditosBundle:Admin:layout_admin.html.twig' %}

{% block body %}
	<h2>
		No tienes acceso a esta página, o tu sesión ha caducado. 
		Dale hacia atrás en el navegador o vuelve a la página de <a href="{{ path('login') }}">login</a>
	</h2>
{% endblock %}